@model BasecampMVC.Data.AddProjectViewModel

<form asp-action="Create" method="post" enctype="multipart/form-data">
  @Html.AntiForgeryToken()
	<div class="col-md-7 col-lg-8">
		<div class="row g-3">
			<div class="col-12">
				<label asp-for="Name" class="form-label">Project Title</label>
				<input asp-for="Name" class="form-control" placeholder="Enter Title Of Project" required>
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>

      		<div class="col-12">
				<label asp-for="Description" class="form-label">Description</label>
				<input asp-for="Description" class="form-control" placeholder="Describe the project" required>
				<span asp-validation-for="Description" class="text-danger"></span>
			</div>

			<div class="col-12">
				<label asp-for="ImageFile" class="form-label">Project Image</label>
				<input asp-for="ImageFile" type="file" class="form-control">
				<span asp-validation-for="ImageFile" class="text-danger"></span>
			</div>

		</div>
	</div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary">Add Project</button>
  </div>
</form>